*{

}
#headerBox {
    padding: 0%;
    margin: 0%;
    background-color: #191819;
}
#name {
    color: white;
    text-align: center;
}
#intro {
    color: white;
    text-align: center;
}
#navbar {
    background-color: #562f23;
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 0;
}
#navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
#navbar a:hover {
    color: #f6f6f3;
}
#navbar {

}
body{
    background-color: #f6f6f3;
    margin: 15px;
}

/* Main to be edited from here*/

#main {
    max-width: 1000%;
}
.heading{
    text-align: center;
    background-color: #562f23;
    height: 50px;
    justify-content: center;
    padding: 10px;
    border-radius: 25px;
}
.heading:hover {
    color: white;
}
.li:hover {
    color: white;
    background-color: #562f23;
}
.cli {
    text-decoration: none;

}
.cli:hover {
    size: 1.1em;
}
footer {
    background-color: #191819;

}
footer p {
    text-align: center;
    color: white;
}
.dark-mode {
    background-color: #191819;
    color: white;
}
.dark-mode #navbar {
    background-color: #562f23;
}
.dark-mode footer {
    background-color: #0d0d0d;
}